---
export interface Props {
  title: string;
  description: string;
  url: string;
  emoji: string;
  tags: Array<any>;
  logo: string;
}

const { title, description, url, emoji, tags, logo } = Astro.props;
---

<li class="block rounded-md border p-4 my-7">
  <a href={url} target="_blank">
    <div class="flex items-center">
      <img src={logo} width="30px" class="mr-1" />
      <h2 class="text-xl font-bold">
        {title}
      </h2>
      <!-- <span>
        <img src={emoji} width="30px" class="ml-1" />
      </span> -->
    </div>
    <p class="text-md my-2">
      {description}
    </p>
    <ul class="flex flex-wrap">
      {
        tags.map((t) => (
          <li
            class="rounded-xl m-2 px-2 text-sm flex items-center gap-1"
            style={`background-color:${t.bg}; color:${t.text}`}
          >
            <i class={t.icon} />
            {t.title}
          </li>
        ))
      }
    </ul>
  </a>
</li>
